@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;400&family=Rubik+Mono+One&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Noto Sans Mono';
    color: #212121;
}

html, body {
    min-height: 100%;
    max-width: 100%;
    position: relative;
    overflow-x: hidden;
}
body {
    background-color: #F9F9F9;
    
}
p {
    margin: 16px auto;
    line-height: 1.5em;
}



/*layout and navigation*/

.layout {
    max-width: 100%;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}
.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
}

.content {
    flex-grow: 1;
}
footer {
    text-align: center;
    color: #697A21;
    margin: 20px auto;
    
}
