#header {
  max-width: 100vh;
  font-family: "Trispace";
  font-size: 5vh;
  font-weight: 400;
  margin-bottom: 10vh;
  margin-top: 20vh;
  margin-left: 10vh;
  margin-right: 10vh;
  text-align: center;
}

#header, .name {
  font-family: "Trispace";
}

.name {
  color: olive;
}

.projects {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}