.header {
  max-width: 100vh;
  font-size: 5vh;
  font-weight: 400;
  margin-bottom: 10vh;
  margin-top: 20vh;
  margin-left: 10vh;
  margin-right: 10vh;
  text-align: center;
}

.header, .name {
/*  font-family: 'Rubik Mono One', sans-serif; */
}

.name {
  color: #697A21;
}

.projects {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}